
#query-form{
    /* margin:auto; */
    width:50%;
    display: flex;
    /* padding:50px; */
}
input{
    width:50%;
    height:25px;
}
#submit{
   cursor:pointer;
   width:80px;
   height:30px;
   margin-left:10px;
}
.tabs{
    /* width:80%; */
    float:none;
    list-style: none;
    position:relative;
    margin:80px 0 0 10px;
    height:650px;
    margin-bottom:10px;
}
li{
    float:left;
    display:block
}
input[type="radio"]{
    position:absolute;
    top:0;
    left:-9999px;
}
label{
    display: block;
    padding: 14px 21px;
    font-size: 20px;
    font-weight:normal;
    cursor: pointer;
    position: relative;
    top:4px;

}
.tab-content.chart-container{
    z-index:2;
    display:none;
    overflow:hidden;
    width:100%;
    font-size:17px;
    position:absolute;
    top:53px;
    left:0;

}
.tab-content{ 
    display:none;
    overflow-y:scroll;
    position:absolute;
    height:550px;
    width:90%;
    top:53px;
    left:10px;    
}
.score, .created_at{
    background-color:#80808014;
}
.title{
    font-weight:bold;
    padding-right:20px;
    width:200px;
}

#post-tbl_wrapper{
    clear:both;
    color:black;
    font-family:'Lucida Grande';
    position:relative;
}

.dataTables_wrapper{
    border-radius:10px;
    box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
    -moz-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
    padding-top:60px;
    background-color:#fff;
    box-sizing:border-box;
    /* width:1026px; */
}
.dataTables_scroll{
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 5px 20px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 5px 20px 0 rgba(0,0,0,.1);
    -o-box-shadow: 0 5px 20px 0 rgba(0,0,0,.1);
    -ms-box-shadow: 0 5px 20px 0 rgba(0,0,0,.1);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}

.dataTable th{
    width:100px;
    padding: 4px 17px 4px 4px;
    font-family: Lato-Bold;
    font-size: 18px;
    color: #fa4251;
    line-height: 1.4;
    background-color: transparent;
    padding-top:18px;
    padding-bottom:18px;
}


td{
    border-bottom:21px solid transparent;
}

[id^="tab"]:checked + label { 
    top: 0;
    padding-top: 17px; 
  }
[id^="tab"]:checked ~ [id^="tab-content"] {
display: block;
}


.chart-container{
    margin:10px;
    width:80%;
    height:500px;
    position:relative;
    display:flex;
    align-items:center;
    justify-content: center;
    
}
div.container{
    display:flex;
    /* justify-content: center; */
}

/* .form{
    margin:auto
} */