

h1{
    text-align: center;
}
input{
    width:50%;
    height:25px;
}
.chart-container{
    margin:10px;
    width:80%;
    height:500px;
    position:relative;
    display:flex;
    align-items:center;
    justify-content: center;
    

}